@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap');
:root {
  --background-color: #fff;
  --font-color: #333;
  --border-color: #ddd;
  --th-background-color: #eee;
  --th-font-color: #333;
}
* {
  box-sizing: border-box;
}
body {
  display: grid;
  background-color: var(--background-color);
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--font-color);
}
.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  margin-inline: auto;
}
table {
  margin: auto;
  border: solid var(--border-color);
  border-width: 0 0 1px 1px;
}
th, td {
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  border-width: 1px 1px 0 0;
}
th {
  background: var(--th-background-color);
  color: var(--th-font-color);
}
th:first-of-type {
  font-family: 'Source Code Pro', monospace;
  font-weight: normal;
}
td {
  text-align: right;
  font-family: 'Source Code Pro', monospace;
}
tr:nth-of-type(11n) th,
tr:nth-of-type(11n) td {
  border-top-width: 3px;
}
input[type="text"], select {
  height: 32px;
  padding: 0 8px;
  line-height: 22px;
  background: var(--background-color);
  border-radius: 3px;
  border: 1px solid var(--border-color);
  outline: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  color: var(--font-color);
}
.form {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 0 16px;
  gap: 8px;
}
.form-input {
  
}
.form-input:first-of-type input {
  width: 7em;
}
.form-input:nth-of-type select {
  
}
.form-input:nth-of-type(3) input {
  width: 3em;
}
#rate-number {
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  font-weight: normal;
  vertical-align: bottom;
}
#rate-number::before {
  content: '（';
  margin-left: 0.1em;
}
#rate-number::after {
  content: '）';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0c0e12;
    --font-color: #fff;
    --border-color: #24292e;
    --th-background-color: #121519;
    --th-font-color: #656379;
  }
}
